.account-info-container {
  height: 757px;
  border-radius: 32px;
  padding: 24px 16px 24px 16px;
  margin-top: 102px;
  background-color: white;
  box-shadow: 0px 1px 3px 0px #10182820;
}
/* --------icons------------- */
.account-info-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
}
.account-info-icons .icon {
  width: 28px;
  height: 28px;
}
.account-info-icons #avatar {
  width: 42px;
  height: 42px;
  border-radius: 100%;
}
.account-info-icons #arrow-down-icon {
  width: 24px;
  height: 24px;
}
/* -------------status-section---------------- */
.status-container {
  font-family: Josefin Sans;
  padding: 24px;
  border-radius: 24px;
  border: 1px solid #eaecf0;
  box-shadow: 0px 4px 4px 0px #0000000f;
}
.status-container .first-text-box :nth-child(1) {
  font-weight: 700;
  font-size: 24px;
  margin: 0;
}
.status-container .first-text-box :nth-child(2) {
  font-weight: 700;
  font-size: 16px;
}
.progressbar-container {
  width: 218px;
  height: 20px;
  border-radius: 16px;
  background-color: #d0d5dd;
}
.progressbar {
  background-color: #6941c6;
  width: 152px;
  height: 20px;
  border-radius: 16px;
}
.status-container .second-text-box {
  margin: 27px 0px;
  display: grid;
  gap: 10px;
}
.status-container .second-text-box :nth-child(1) {
  font-size: 16px;
  margin: 0;
  font-weight: 700;
}
.status-container .second-text-box :nth-child(2) {
  font-size: 16px;
  margin: 0;
  font-weight: 700;
  color: #667085;
}
.status-container .view-btn {
  background-color: #6941c6;
  color: white;
  border: none;
  border-radius: 8px;
  width: 223px;
  height: 42px;
  padding: 8px;
  font-size: 16px;
  font-family: Josefin Sans;
  font-weight: 700;
  transition: color 0.6s, background-color 0.6s;
  cursor: pointer;
}
.status-container .view-btn:hover {
  background-color: #b692f6;
  color: #1d2939;
}
.status-container .view-btn:active {
  transition-duration: 0.1s;
  background-color: #42307d;
  color: white;
}
/* --------todo-info-------- */
.todo-info-container {
  width: 271px;
  /* height: 491px; */
}
.todo-info-container h2 {
  padding-bottom: 6px;
}
.todo-info-container .todo-list {
  display: grid;
  gap: 25px;
}
/* -------board-section------ */
.board-text {
  padding-top: 10px;
  padding-left: 15px;
  height: 124px;
  border-radius: 16px;
}
.board-text :nth-child(1) {
  font-weight: 700;
  font-size: 16px;
}
.board-text :nth-child(2) {
  font-weight: 700;
  font-size: 14px;
  color: #98a2b3;
  font-family: Josefin Sans;
}
.board-text :nth-child(3) {
  width: 209px;
  font-weight: 700;
  font-size: 12px;
  color: #98a2b3;
  font-family: Josefin Sans;
  line-height: 17.06px;
}
/* --------modal-------- */
.modal-container {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1513px;
  height: 1046px;
  border-radius: 4px;
  /* this styles if for the blur functionality */
  background-color: rgba(2, 2, 2, 0.303);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
.modal {
  background: white;
  width: 628px;
  height: 700px;
  /* padding: 30px; */
  border-radius: 4px;
  position: absolute;
  left: 47%;
  top: 48%;
  transform: translate(-50%, -50%);
  animation: 0.5s drop;
}
@keyframes drop {
  0% {
    top: -100px;
  }
  100% {
    top: 50%;
  }
}
.modal .modal-title {
  color: #6941c6;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}
.modal form {
  display: grid;
  gap: 25px;
  padding: 0px 22px;
}
/* the title input */
.modal form .title-box {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  width: 567px;
}
.modal form #title-input {
  font-size: 16px;
  width: inherit;
  font-weight: 400;
  padding-left: 13px;
  height: 56px;
  border: 1px solid #79747e;
  border-radius: 4px;
}
.modal form #title-lable {
  position: absolute;
  left: 15px;
  top: 18px;
  pointer-events: none;
  transition: 0.3s;
}
.modal form #delete-input-value-btn {
  position: absolute;
  width: 21px;
  padding: 10px;
  top: 9px;
  right: -9px;
  cursor: pointer;
  transition: all 0.1s;
  border-radius: 50px;
}
.modal form #delete-input-value-btn:hover {
  background-color: #f2f4f7;
  border-radius: 50px;
}
/* the :focus is when the input is active */
/* the :valid is for when the input has value mantain this style*/
.modal form .title-box input:focus ~ label,
.modal form .title-box input:valid ~ label {
  left: 12px !important;
  top: -7px !important;
  background: #f2f4f7;
  color: #6941c6;
  padding: 0px 4px;
  font-size: 12px;
}
.modal form #title-input:focus {
  /* border: none; */
  outline: 2px solid #6941c6 !important;
}
/*---------- add person input -------------*/
.modal form .add-person-box {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  width: 567px;
}
.modal form #add-person-input {
  font-size: 16px;
  width: inherit;
  font-weight: 400;
  padding-left: 13px;
  height: 56px;
  border: 1px solid #79747e;
  border-radius: 4px;
}
.modal form #add-person-lable {
  position: absolute;
  left: 15px;
  top: 18px;
  pointer-events: none;
  transition: 0.3s;
}
.modal form #arrow-down-btn {
  position: absolute;
  width: 35px;
  top: 12px;
  right: -7px;
  cursor: pointer;
  transition: transform 0.3s;
}
.modal form #arrow-down-btn:hover {
  background-color: #f2f4f7;
  border-radius: 50px;
}
.modal form .add-person-box input:focus ~ img,
.modal form .add-person-box input:valid ~ img {
  transform: rotate(180deg);
}

/* the :focus is when the input is active */
/* the :valid is for when the input has value mantain this style*/
.modal form .add-person-box input:focus ~ label,
.modal form .add-person-box input:valid ~ label {
  left: 12px !important;
  top: -7px !important;
  background: #f2f4f7;
  color: #6941c6;
  padding: 0px 4px;
  font-size: 12px;
}
.modal form #add-person-input:focus {
  /* border: none; */
  outline: 2px solid #6941c6 !important;
}
.modal form .person-select-box-contaniner {
  width: inherit;
  height: 364px;
  border-radius: 4px;
  border: 1px solid #475467;
  padding: 10px 13px;
}

.modal form .modal-search-form {
  border-radius: 4px;
  border: 1px solid #667085;
  width: 555px;
  height: 40px;
  padding-left: 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
  font-size: 16px;
  font-weight: 400;
  color: #344054;
  margin-bottom: 8px;
}
.modal form .modal-search-options {
  display: grid;
  gap: 5px;
  overflow-y: scroll;
  height: 268px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.modal-search-options::-webkit-scrollbar {
  display: none;
}
.modal form .person-info {
  position: relative;
  background-color: #f9f5ff;
  width: 545px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}
.modal form .person-info img {
  width: 24px;
  height: 24px;
  border-radius: 50px;
}

.modal form input[type="checkbox"] {
  height: 18px;
  width: 18px;
  accent-color: #6941c6;
  cursor: pointer;
}
.modal form .status-info {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #eaecf0;
  margin-top: 20px;
}
.modal form .status-info p {
  font-weight: 400;
  font-size: 12px;
}
.modal form button {
  font-weight: 400;
  font-size: 12px;
  color: #1570ef;
  background-color: transparent;
  border: none;
}

/*-------- modal open------- */
.open-modal {
  display: block;
}
