.add-todo-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.add-todo-container #add-todo-icon {
  padding: 8px;
  margin-right: 14px;
  border-radius: 16px;
  background-color: #e9d7fe;
}

.add-todo-container p {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

