.card {
  width: 164px;
  height: 132px;
  padding: 16px;
  background-color: white;
  box-shadow: 0px 4px 8px -2px #1018281a;
  border-radius: 24px;
  border: 2px solid #ffffff;
  transition: all 0.6s;
}
.card:hover {
  border: 2px solid #6941c6b7;
  box-shadow: 0px 7px 11px -4px #7e65b8;
}
.card h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #101828;
  width: 138px;
  height: 48px;
  margin: 7px 0px;
}
.card h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  color: #475467;
  max-width: 90px;
}
