#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  
}
.root-container {
  background-color: #f2f4f7;
  /* filter: blur(2px) brightness(0.7); */
  display: flex;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
main {
  width: 916px;
  padding: 32px 0px 32px 62px;
}
