#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
.root-container {
  display: flex;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
main {
  background-color: bisque;
  /* padding-top: 32px; */
  /* padding-left: 52px; */
  padding: 32px 62px;
  width: 1000px;
}
